@model CRA.Models.Mission

@{
    ViewData["Title"] = "Create Mission";
}

<h1>Create</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SemaineDebut" class="control-label"></label>
                <input asp-for="SemaineDebut" class="form-control" />
                <span asp-validation-for="SemaineDebut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SemaineFin" class="control-label"></label>
                <input asp-for="SemaineFin" class="form-control" />
                <span asp-validation-for="SemaineFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="EmployeeIds">Employees</label>
                <select asp-for="EmployeeIds" class="form-control" asp-items="ViewBag.EmployeeList" multiple></select>
                <small class="form-text text-muted">Maintenez la touche CTRL enfoncée pour sélectionner plusieurs employés.</small>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
